.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #080808;
    z-index: 200;
    text-align: center;
    line-height: 90vh;
    font-family: 'Roboto Regular', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #f7f8fc;
}

.splash.display-none {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #080808;
    z-index: -10;
    text-align: center;
    line-height: 90vh;
    font-family: 'Roboto Regular', sans-serif;
    font-weight: 700;
    font-size: 30px;
    transition: all 0.2s;
    color: #f7f8fc;
}

.splash.no-display {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -10;
    color: #080808;
    text-align: center;
    line-height: 90vh;
    font-family: 'Roboto Regular', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #f7f8fc;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

.navbar-toggler {
    width: 47px;
    height: 34px;
    float: right;
    margin-top: 15px;
}

.navbar-header {
    margin-top: 10px;
    text-align: left;
    width: 100%;
}

.navbar-brand {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.nav-link {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.nav-item:hover {
    color: #707070;
}

#work-photo .detail-photo {
    margin-bottom: 30px;
}

#about-work {
    margin-bottom: 30px;
}

#about-work .work-period {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 5px;
}

#about-work .work-title {
    font-family: 'Roboto Medium', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: normal;
    margin-bottom: 5px;
}

#about-work .work-role {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 17px;
}

#about-work .work-detail {
    font-family: 'Roboto', sans-serif;
    color: #707070;
    font-weight: 500;
    font-size: 14;
}

#about-work .button {
    background-color: #080808;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin: 4px 2px;
    cursor: pointer;
}

#bottom-nav {
    background-color: #f3f3f3;
    height: 100px;
    margin-bottom: 30px;
}

#bottom-nav .bottom-nav-buttons {
    padding-top: 38px;
}

#bottom-nav .arrow {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 16px;
    padding-top: 3px;
    color: #080808;
}

#main-footer {
    background-color: #202020;
}

#main-footer .footer-text {
    padding-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 15px;
    color: #909090;
}

#main-footer .footer-sns-icons {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 25px;
}

#main-footer .footer-nav {
    margin-top: 50px;
    margin-bottom: 30px;
}

#main-footer .footer-nav-text {
    margin-left: 10px;
    margin-right: 10px;
    color: #909090;
}

@media (max-width: 575.98px) {
    .work-content {
        padding-left: 15px;
        padding-right: 15px;
    }
    #bottom-nav .arrow {
        padding-left: 15px;
        padding-right: 15px;
    }
}